BasedOnStyle: Google
AccessModifierOffset: -2
IndentCaseLabels: false
PointerBindsToType: true
Standard: Cpp11
IndentWidth: 4
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
IncludeBlocks: Preserve
AllowAllConstructorInitializersOnNextLine: true
MaxEmptyLinesToKeep: 1
ColumnLimit: 110
SortIncludes: false
